.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/main.bg.png) center center / cover no-repeat;
    &__wrapper {
        padding-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__title {
        font-size: 41px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__icons {
        margin-top: 60px;
        width: 424px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__icon {
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        img {
            display: block;
            margin: 0 auto 20px auto;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a {
            text-decoration: underline;
            color: #ffffff;

        }
    }
}